### Mac OS
.DS_Store

### zsh
zsh/.zcompdump*
zsh/.zhistory
zsh/*.zwc
zsh/*.old
zsh/.zcompcache

### vim
.netrwhist
*.swp
.vim/plugged/*
viminfo.txt
tags
!.gitkeep
node_modules/*
.bundle/*
.venv/*
.vim/sessions

### tmux
.tmux/*
!.gitkeep

### karabiner
karabiner/automatic_backups/*
