[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "zsh/.zim"]
	path = zsh/.zim
	url = https://github.com/zimfw/zimfw.git
[submodule "zsh/dircolors/dircolors-solarized"]
	path = zsh/dircolors/dircolors-solarized
	url = git@github.com:0ta2/dircolors-solarized.git
[submodule "zsh/dircolors/nord-dircolors"]
	path = zsh/dircolors/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
