[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".zsh/dircolors/dircolors-solarized"]
	path = .zsh/dircolors/dircolors-solarized
	url = https://github.com/0ta2/dircolors-solarized.git
