### Mac OS
.DS_Store

### zsh
zsh/.zcompdump*
zsh/.zhistory
zsh/*.zwc
zsh/*.old
zsh/.zcompcache
zsh/.zsh_history

### vim
.netrwhist
*.swp
*.swo
.vim/plugged/*
viminfo.txt
tags
!.gitkeep
node_modules/*
.bundle/*
.venv/*
.vim/sessions
.vim/tmp/undo/*
.vim/tmp/backup/*

### tmux
!.gitkeep

### karabiner
karabiner/automatic_backups/*

### Phpstorm
.idea
