### Git
!.gitkeep

### Mac OS
.DS_Store

### zsh
zsh/.zcompdump*
zsh/.zhistory
zsh/*.zwc
zsh/*.old
zsh/.zcompcache
zsh/.zsh_history
zsh/.zsh_sessions

### nvim
.netrwhist
*.swp
*.swo
nvim/plugged/*
nvim/plugin/*
nviminfo.txt
nvim/yankring.txt
nvim/lazy-lock.json
nvim/plugin/packer_compiled.vim
tags
node_modules/*
.bundle/*
.venv/*

### tmux
tmux/plugins/*

### karabiner
karabiner/automatic_backups/*

### phpstorm
.idea
