"--------------
" PhpStorm Settings
"--------------
" source .ideavimrc
source ~/.vim/vimrc.d/02-keymaping.vim

" mapleader を指定
let mapleader = " "

" OS のクリップボードを共有
set clipboard=unnamed

" インクリメント検索
set incsearch
" 検索結果をハイライト
set hlsearch

" Phpstorm 設定
set ideajoin
set ideastatusicon=gray
set idearefactormode=keep

" Plugins
set surround
set easymotion
set multiple-cursors
set commentary

" Keymap
nmap f <Plug>(easymotion-prefix)

nnoremap <C-J> <C-w>j
nnoremap <C-K> <C-w>k
nnoremap <C-L> <C-w>l
nnoremap <C-H> <C-w>h

nnoremap <Leader>ff :<C-u>action GotoFile<CR>
nnoremap <Leader>l :<C-u>action GotoAction<CR>
nnoremap / :<C-u>action Find<CR>
nnoremap <Leader>n :action NextTab<CR>
nnoremap <Leader>p :action PreviousTab<CR>
nnoremap <Leader>e :action GotoBookmark1<CR>