snippet file
- name: ${1:task_description}
  file:
    path: ${2}
    owner: ${3}
    group: ${4}
    mode: {5}
endsnippet

snippet xml "community.general.xml"
- name: ${1:task_description}
  xml:
    path: ${2}
    xpath: ${3}
    value: ${4}
endsnippet
